.odd,
.big {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(255, 204, 204);

}

.big {
    font-size: 24px;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(153, 255, 153);
    font-weight: 700; font-size: 24px;
}